h1 {
    font-family: Georgia;
    text-align: center;
}

header {
    background-color: rgb(180, 180, 180);
    display: block;
    padding: 12px;
}

#pageHeader {
    float: left;
}

li {
    font-family: Georgia;
}

li a {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
}

#links {
    float: right;
}

ul {
    list-style-type: none;
    overflow: hidden;
}