main {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  padding: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  display: block;
}

li {
  color: black;
}

#mainContainer {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  height: 80vh;
  justify-content: center;
}

button#createTask {
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px auto;
}

#taskPopupButtons {
  display: flex;
}

#taskStorageHeader {
  background-color: rgb(180, 180, 180);
  height: 5vh;
  margin: 0 auto;
  width: 82.2vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#taskStoragePanel {
  background-color: rgb(255, 255, 255);
  height: 40vh;
  margin-top: 0;
  width: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Sourced this line from ChatGPT. */
  gap: 10px;
  padding: 10px;
}

#taskStoragePanelInstruction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.login-box {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 300px;
}

.login-box h1 {
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.login-box input {
  margin-bottom: 20px;
  width: 100%;
}
