#mainContainer {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    height: 80vh;
    justify-content: center;
}

main {
    text-align: center;
}

button#createTask {
    font-size: 16px;
    padding: 10px 20px;
}

#taskStorageHeader {
    background-color: rgb(180, 180, 180);
    height: 5vh;
    margin: 0 auto;
    width: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#taskStoragePanel {
    background-color: rgb(255, 255, 255);
    height: 40vh;
    margin: 20px;
    margin-top: 0px;
    width: 80vh;
}